:root {
    --bs-dark-rgb: 26, 27, 29;
    --bs-border-color: #131314;
    --bs-primary-rgb: 80, 117, 215;
}

.dropdown-menu-dark {
    --bs-dropdown-bg: #111111;
}

.btn-outline-primary {
    --bs-btn-color: #5075D7;
    --bs-btn-hover-color: #5075D7;
    --bs-btn-border-color: #5075D7;
    --bs-btn-hover-bg: #16181C;
    --bs-btn-hover-border-color: #5075D7;
    --bs-btn-active-bg: #5075D7;
    --bs-btn-active-border-color: #5075D7;
    --bs-btn-disabled-color: #5075D7;
    --bs-btn-disabled-border-color: #5075D7;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #5075D7;
    --bs-btn-border-color: #5075D7;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #5075D7;
    --bs-btn-hover-border-color: #5075D7;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #5075D7;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #5075D7;
    --bs-btn-disabled-border-color: #5075D7
}